<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jiuzhang.yeyuan.dribbbo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.jiuzhang.yeyuan.dribbbo.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity android:name=".activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/AppTheme" />
        <!-- <activity android:name=".base.BaseActivity" /> -->
        <activity
            android:name=".shot_detail.ShotDetailActivity"
            android:parentActivityName=".activities.MainActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".wendo.OAuth.AuthActivity" />
        <activity android:name=".bucket_list.EditBucketActivity" />
        <activity android:name=".bucket_list.BucketShotListActivity" />
        <activity android:name=".activities.UserActivity" />
        <activity
            android:name=".activities.SearchActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".activities.SearchActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".activities.EditProfileActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".activities.SettingsActivity"></activity>
    </application>

</manifest>